@page
@model ListModel
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.RazorPages;


<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No User Account</td>
            </tr>
        }
        else
        {
            foreach (IdentityUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-page="create">Create</a>

@functions
{
    
    public class ListModel : PageModel
    {
        public UserManager<IdentityUser> UserManager;

        public ListModel(UserManager<IdentityUser> userManager)
        {
            UserManager = userManager;
        }

        public IEnumerable<IdentityUser> Users { get; set; }
            = Enumerable.Empty<IdentityUser>();

        public void OnGet()
        {
            Users = UserManager.Users;
        }
    }
}
